.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 6rem;
  min-height: 100vh;
}

.pageContainer {
  width: 100%;
  display: flex;
  gap: 47px;
  margin: auto;
}

.chartContainer {
  flex: 1;
}

.legendContainer {
  width: 168px;
}
